@import url(zeroing.css);
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fae3ff;
}

.main {
  display: flex;
  flex: 1 1 auto;
}

.side-container {
  flex: 0 0 20%;
}

.header {
  background: #875394;
}

.bar__row {
  display: flex;
  text-align: center;
  margin: 0 0 20px 0;
}

.bar_btn {
  display: block;
  font-size: 25px;
  text-transform: uppercase;
  color: #eee;
  line-height: 50px;
  border-right: 1px solid #000;
  width: 20%;
  height: 100%;
}
.bar_btn:first-child {
  border-left: 1px solid #000;
}
.bar_btn:hover {
  background: #85678d;
  font-size: 28px;
}
.bar_btn:active {
  color: #ff5e00;
}

.block {
  padding: 0 10px;
  margin: 0 0 30px 0;
}

.title {
  font-size: 30px;
  line-height: 50px;
}

.text {
  font-size: 16px;
  line-height: 24px;
}

.block2__row {
  display: flex;
}

.block2__img {
  flex: 0 0 30%;
  position: relative;
  min-height: 150px;
}
.block2__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.block2__body {
  margin: 0 0 0 16px;
}

.slider__row {
  margin: 50px 0;
}

.slider__title {
  text-align: center;
}

.slider {
  padding: 0 0 10px 0;
  min-height: 30vw;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.slider img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}

.slider1__img img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slider1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.slider1__img img:nth-child(4) {
  animation-delay: 0s;
}
.slider1__img img:nth-child(3) {
  animation-delay: 10s;
}
.slider1__img img:nth-child(2) {
  animation-delay: 20s;
}
.slider1__img img:nth-child(1) {
  animation-delay: 30s;
}
@keyframes slider1 {
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.slider2__img img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slider2;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.slider2__img img:nth-child(4) {
  animation-delay: 0s;
}
.slider2__img img:nth-child(3) {
  animation-delay: 10s;
}
.slider2__img img:nth-child(2) {
  animation-delay: 20s;
}
.slider2__img img:nth-child(1) {
  animation-delay: 30s;
}
@keyframes slider2 {
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.slider3__img img {
  position: absolute;
  top: 0;
  left: 0;
  animation: slider3;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.slider3__img img:nth-child(4) {
  animation-delay: 0s;
}
.slider3__img img:nth-child(3) {
  animation-delay: 10s;
}
.slider3__img img:nth-child(2) {
  animation-delay: 20s;
}
.slider3__img img:nth-child(1) {
  animation-delay: 30s;
}
@keyframes slider3 {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
    opacity: 1;
  }
  24% {
    transform: translate(100%, 0);
    opacity: 0;
    z-index: 1;
  }
  25% {
    z-index: 0;
    opacity: 1;
  }
  76% {
    transform: translate(100%, 0);
  }
  77% {
    transform: translate(0, 0);
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}

.slider4__img:hover #label-left-4, .slider4__img:hover #label-right-4, .slider4__img:hover #label-up-4, .slider4__img:hover #label-down-4 {
  opacity: 1;
}

#label-left-4, #label-right-4, #label-up-4, #label-down-4 {
  background: rgba(238, 238, 238, 0.2);
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
#label-left-4 img, #label-right-4 img, #label-up-4 img, #label-down-4 img {
  max-height: 50px;
  border-radius: 50%;
  padding: 5px;
}

#input-left-4, #input-right-4, #input-up-4, #input-down-4 {
  display: none;
}

#label-left-4 {
  left: 0;
}

#label-right-4 {
  right: 0;
}

#label-up-4 {
  left: 30%;
}

#label-down-4 {
  right: 30%;
}

.slider4__btn-left {
  transform: rotate(180deg);
}

.slider4__btn-up {
  transform: rotate(-90deg);
}

.slider4__btn-down {
  transform: rotate(90deg);
}

.s4-btn:hover {
  background: rgba(179, 156, 185, 0.7);
}

.s4-btn:active {
  background: #875394;
}

@keyframes slider4-left {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
    opacity: 1;
  }
  24% {
    transform: translate(-100%, 0);
    opacity: 0;
    z-index: 1;
  }
  25% {
    z-index: 0;
    opacity: 1;
  }
  76% {
    transform: translate(-100%, 0);
  }
  77% {
    transform: translate(0, 0);
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}
@keyframes slider4-right {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
    opacity: 1;
  }
  24% {
    transform: translate(100%, 0);
    opacity: 0;
    z-index: 1;
  }
  25% {
    z-index: 0;
    opacity: 1;
  }
  76% {
    transform: translate(100%, 0);
  }
  77% {
    transform: translate(0, 0);
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}
@keyframes slider4-up {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
    opacity: 1;
  }
  24% {
    transform: translate(0, -100%);
    opacity: 0;
    z-index: 1;
  }
  25% {
    z-index: 0;
    opacity: 1;
  }
  76% {
    transform: translate(0, -100%);
  }
  77% {
    transform: translate(0, 0);
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}
@keyframes slider4-down {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
    opacity: 1;
  }
  24% {
    transform: translate(0, 100%);
    opacity: 0;
    z-index: 1;
  }
  25% {
    z-index: 0;
    opacity: 1;
  }
  76% {
    transform: translate(0, 100%);
  }
  77% {
    transform: translate(0, 0);
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}
.slider4__img .slide__img {
  position: absolute;
  top: 0;
  left: 0;
  animation-name: slider4-right;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.slider4__img .slide__img:nth-child(8) {
  animation-delay: 0s;
}
.slider4__img .slide__img:nth-child(7) {
  animation-delay: 5s;
}
.slider4__img .slide__img:nth-child(6) {
  animation-delay: 10s;
}
.slider4__img .slide__img:nth-child(5) {
  animation-delay: 15s;
}

#input-left-4:checked ~ *.slide__img {
  animation-name: slider4-left;
}

#input-left-4:checked ~ #label-left-4 {
  background: rgba(179, 156, 185, 0.7);
}

#input-right-4:checked ~ *.slide__img {
  animation-name: slider4-right;
}

#input-right-4:checked ~ #label-right-4 {
  background: rgba(179, 156, 185, 0.7);
}

#input-up-4:checked ~ *.slide__img {
  animation-name: slider4-up;
}

#input-up-4:checked ~ #label-up-4 {
  background: rgba(179, 156, 185, 0.7);
}

#input-down-4:checked ~ *.slide__img {
  animation-name: slider4-down;
}

#input-down-4:checked ~ #label-down-4 {
  background: rgba(179, 156, 185, 0.7);
}

#label-left-5, #label-right-5 {
  width: 10%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
#label-left-5 img, #label-right-5 img {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

#input-left-5, #input-right-5 {
  display: none;
}

#label-left-5 {
  left: 0;
}

#label-right-5 {
  right: 0;
}

.slider5__btn-left {
  transform: rotate(180deg);
}

#label-left-5:hover {
  background: rgba(179, 156, 185, 0.3);
  opacity: 1;
}

#label-left-5:active {
  background: #875394;
}

#label-right-5:hover {
  background: rgba(179, 156, 185, 0.3);
  opacity: 1;
}

#label-right-5:active {
  background: #875394;
}

@keyframes slider5-left {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
    opacity: 1;
  }
  24% {
    transform: translate(-100%, 0);
    opacity: 0;
    z-index: 1;
  }
  25% {
    z-index: 0;
    opacity: 1;
  }
  76% {
    transform: translate(-100%, 0);
  }
  77% {
    transform: translate(0, 0);
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}
@keyframes slider5-right {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
    opacity: 1;
  }
  24% {
    transform: translate(100%, 0);
    opacity: 0;
    z-index: 1;
  }
  25% {
    z-index: 0;
    opacity: 1;
  }
  76% {
    transform: translate(100%, 0);
  }
  77% {
    transform: translate(0, 0);
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}
.slider5__img .slide__img {
  position: absolute;
  top: 0;
  left: 0;
  animation-name: slider4-right;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.slider5__img .slide__img:nth-child(6) {
  animation-delay: 0s;
}
.slider5__img .slide__img:nth-child(5) {
  animation-delay: 5s;
}
.slider5__img .slide__img:nth-child(4) {
  animation-delay: 10s;
}
.slider5__img .slide__img:nth-child(3) {
  animation-delay: 15s;
}

#input-left-5:checked ~ *.slide__img {
  animation-name: slider4-left;
}

#input-left-5:checked ~ #label-left-5 {
  background: rgba(179, 156, 185, 0.3);
}

#input-right-5:checked ~ *.slide__img {
  animation-name: slider4-right;
}

#input-right-5:checked ~ #label-right-5 {
  background: rgba(179, 156, 185, 0.3);
}

.item__column {
  display: flex;
  flex-direction: column;
}

.column__top {
  background: #875394;
  height: 50px;
}

.item a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 10px;
}

.item__title {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 0;
  transition: 0.5s;
}

.item__image {
  display: flex;
  justify-content: center;
}

.item__image img {
  display: block;
  max-width: 100%;
  width: 250px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  transition: width 1s;
}

.item__text {
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
  transition: 0.5s;
}

.item:hover {
  background: #eee;
}
.item:hover .item__title {
  transform: scale(1.5, 1.5);
  color: green;
}
.item:hover .item__text {
  font-size: 20px;
  line-height: 24px;
}
.item:hover .item__image img {
  width: 300px;
}

.footer {
  background: #b39cb9;
}

.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
