@import url(zeroing.css);

$hight-header: 50px;

body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fae3ff;    
}
.main{
    display: flex;
    flex: 1 1 auto;
}
.side-container { 
    flex: 0 0 20%;    
}
.content {  
     
}
.container {   
    
}

//********************************************** header *********
.header {
    background: #875394;    
}
.bar__row {    
    display: flex;    
    text-align: center;
    margin: 0 0 20px 0;
}
.bar_btn {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    color: #eee;
    line-height: $hight-header;    
    border-right: 1px solid #000;
    width: 20%;   
    height: 100%;     
    
    &:first-child{
        border-left: 1px solid #000;
    }    
    &:hover{
        background: #85678d;
        font-size: 28px;
    }
    &:active{
        color: #ff5e00;
    }    
}

//********************************************** content *********
.block {
    padding: 0 10px;
    margin: 0 0 30px 0;
}
.title {
    font-size: 30px;
    line-height: 50px;
    
}
.text{
    font-size: 16px;
    line-height: 24px;
}

.block1{  
}
.block1__title {
}
.block1__text {    
}

.block2 {
}
.block2__row {
    display: flex;
}
.block2__img {
    flex: 0 0 30%;
    position: relative;
    min-height: 150px;    

    & img{     
        width: 100%;   
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.block2__body {
    margin: 0 0 0 16px;
}
.block2__title {
}
.block2__text {
}

.slider__row{
    margin: 50px 0;    
}

.slider__title{
    text-align: center;
}

.slider{
    padding: 0 0 10px 0;  
    min-height: 30vw;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        z-index: 1;
    }
}

.slider1__img{     
    img{        
        position: absolute;
        top: 0;
        left: 0;     
        opacity: 0;  
        
        animation: slider1;
        animation-duration: 40s;   
        // animation-direction: alternate;     
        animation-iteration-count: infinite;
        // animation-fill-mode: forwards;
        
        &:nth-child(4){
            animation-delay: 0s;
        }
        &:nth-child(3){
            animation-delay: 10s;
        }
        &:nth-child(2){
            animation-delay: 20s;
        }
        &:nth-child(1){
            animation-delay: 30s;            
        }
    }

    @keyframes slider1{
        10%{        
            opacity: 1;
        } 
        30%{
            opacity: 1;
        }   
        40%{
            opacity: 0;        
        }
    }
}

.slider2__img{    
    img{       
        position: absolute;
        top: 0;
        left: 0;     
        opacity: 0;  
        
        animation: slider2;
        animation-duration: 40s;   
        // animation-direction: alternate;     
        animation-iteration-count: infinite;
        // animation-fill-mode: forwards;
        
        &:nth-child(4){
            animation-delay: 0s;
        }
        &:nth-child(3){
            animation-delay: 10s;
        }
        &:nth-child(2){
            animation-delay: 20s;
        }
        &:nth-child(1){
            animation-delay: 30s;            
        }
    }

    @keyframes slider2{
        20%{        
            opacity: 1;
        }    
        40%{
            opacity: 0;        
        }
    }
}

.slider3__img{     
    img{        
        position: absolute;
        top: 0;
        left: 0;  
        
        animation: slider3;
        animation-duration: 40s;   
        // animation-direction: alternate;     
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        // animation-fill-mode: forwards;
        
        &:nth-child(4){
            animation-delay: 0s;
        }
        &:nth-child(3){
            animation-delay: 10s;
        }
        &:nth-child(2){
            animation-delay: 20s;
        }
        &:nth-child(1){
            animation-delay: 30s;            
        }
    }

    @keyframes slider3{
        0%{            
            transform: translate(0, 0);
        }
        15%{        
            transform: translate(0, 0);
            opacity: 1;            
        }           
        24%{
            transform: translate(100%, 0); 
            opacity: 0;
            z-index: 1;                                   
        } 
        25%{
            z-index: 0;
            opacity: 1;
        }        
        76%{            
            transform: translate(100%, 0);            
        }
        77%{
            transform: translate(0, 0);
        }
        99%{
            z-index: 0;
        }
        100%{
            z-index: 1;
        }
    }
}

//************************************ slider 4 with buttons **************************
$bglabel: rgba(179, 156, 185, 0.7);

// .slider__bar{
//     display: flex;
//     justify-content: space-around;
//     max-height: 50px;
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     left: 0;       
// }

.slider4__img{

}
#label-left, #label-right, #label-up, #label-down{
    background: rgba(238, 238, 238, 0.2);
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    z-index: 2; 
    position: absolute;
    bottom: 0;

    img{
        max-height: 50px;
        border-radius: 50%;
        padding: 5px;
    }  
}
#label-left{  
    left: 0; 
}
#label-right{
    right: 0;
}

#label-up{
    left: 30%;
}

#label-down{
    right: 30%;
}

.slider4__btn-left{
    transform: rotate(180deg);
}   
.slider4__btn-up{
    transform: rotate(-90deg);
}
.slider4__btn-down{
    transform: rotate(90deg);
}
.s4-btn:hover{
    background: $bglabel;
}
.s4-btn:active{
    background: #875394;
}

#input-left, #input-right, #input-up, #input-down{
    display: none;
}
#label-left, #label-right, #label-up, #label-down{
    border-radius: 50%;
}

@mixin animation($name, $dirX, $dirY){
    @keyframes #{$name}{
        0%{            
            transform: translate(0, 0);
        }
        15%{        
            transform: translate(0, 0);
            opacity: 1;            
        }           
        24%{
            transform: translate($dirX, $dirY); 
            opacity: 0;
            z-index: 1;                      
        } 
        25%{
            z-index: 0;
            opacity: 1;
        }        
        76%{            
            transform: translate($dirX, $dirY);            
        }
        77%{
            transform: translate(0, 0);
        }
        99%{
            z-index: 0;
        }
        100%{
            z-index: 1;
        }
    }
}
@include animation(slider4-left, -100%, 0);
@include animation(slider4-right, 100%, 0);
@include animation(slider4-up, 0, -100%);
@include animation(slider4-down, 0, 100%);

.slider4__img{     
    .slide__img{        
        position: absolute;
        top: 0;
        left: 0;  
        
        animation-name: slider4-right;
        animation-duration: 20s;   
        // animation-direction: alternate;     
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        // animation-fill-mode: forwards;
        
        &:nth-child(8){
            animation-delay: 0s;
        }
        &:nth-child(7){
            animation-delay: 5s;
        }
        &:nth-child(6){
            animation-delay: 10s;
        }
        &:nth-child(5){
            animation-delay: 15s;            
        }
    }
}

#input-left:checked ~ *.slide__img{
    animation-name: slider4-left;    
}
#input-left:checked ~ #label-left{
    // border: 1px solid #000;
    background: $bglabel;
}

#input-right:checked ~ *.slide__img{
    animation-name: slider4-right;
}
#input-right:checked ~ #label-right{
    // border: 1px solid #000;
    background: $bglabel;
}

#input-up:checked ~ *.slide__img{
    animation-name: slider4-up;
}
#input-up:checked ~ #label-up{
    // border: 1px solid #000;
    background: $bglabel;
}

#input-down:checked ~ *.slide__img{
    animation-name: slider4-down;
}
#input-down:checked ~ #label-down{
    // border: 1px solid #000;
    background: $bglabel;
}

//********************************************** sides *********************

.left-side {       

}
.right-side {  
   
}
.item__column {
    display: flex;
    flex-direction: column;    
}
.column__top{
    background: #875394;
    height: $hight-header;         
}
.item{    
    
}
.item a {
    display: flex;
    flex-direction: column;    
    justify-content: space-around;  
    margin: 10px 10px;     
}

.item__title {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0;    
    transition: 0.5s;
    // animation-name: anim-title;
    // animation-duration: 0.5s;    
    // animation-timing-function: linear;
    // animation-direction: alternate;
    // animation-iteration-count: infinite;
    // @keyframes anim-title{
    //     0%{
    //         font-size: 20px;        
    //     }
    //     100%{
    //         font-size: 30px;        
    //     }
    // }
}

.item__image{
    display: flex;
    justify-content: center;    
}

.item__image img{ 
    display: block;   
    max-width: 100%;   
    width: 250px; 
    margin: 0 0 10px 0;  
    border-radius: 10px; 
    transition: width 1s;  
}

.item__text {
    font-size: 16px;
    text-align: justify;
    line-height: 20px;
    transition: 0.5s;
}

.item:hover{     
    background: #eee;  
    
    .item__title{
        transform: scale(1.5, 1.5);  
        color: green;
        // animation: none;
    }
    .item__text{ 
        font-size: 20px;
        line-height: 24px;
    }   
    .item__image img{        
        width: 300px;
    } 
}

//************************************************* footer ****
.footer {
    background: #b39cb9;
}
.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $hight-header;
}
.footer__text {    
}